.nav-link {
    color: #ebebeb !important;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #333;
    color: #ebebeb;
}

.navbar-brand {
    align-items: center;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    color: #ebebeb;
}

#logoconquer {
    max-width: 40%;
}