div {
    div {
        div {
            h1 {
                font-weight: 800;
                margin-top: 2rem;
                padding-top: 2rem;
                margin-bottom: 2rem;
                color: #333;
                text-align: center;
            }

            div {
                div {
                    p {
                        font-weight: 800;
                    }
                }
            }
        }
    }
}

aside {
    div {
        p {
            @extend .separador;
            background-color: #333;
        }
    }
}



.separador {
    color: #ebebeb;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: 700;
}

#carruselPlayera {
    margin: 2rem 2rem 2rem 2rem;
}

#carouselExampleIndicators {
    margin-bottom: 2rem;
}

.carousel {
    margin-top: 10rem;
    align-items: center;
    align-content: center;
    display: flex;
}



.description {
    font-weight: 700;
    font-size: medium;
    font-family: 'Montserrat';
    text-align: left;
    align-items: left;
    display: block;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.description {
    h1 {
        font-weight: 700;
    }
    h3{
        font-weight: 600;
    }
    p{
        font-weight: 300;
    }
}