#legales {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    padding: 2rem 2rem 2rem 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: 800;
}

.promociones__inicio {
    background-color: red;
    color: #ebebeb;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: 700;
}